# Private data files
Data/sample_09202024_tmln_obf.csv
Data/dictionary.xlsx
baggage_validation_data.csv
Data/OneDrive_3_11-22-2025/

# Model artifacts
baggage_predictor_model.joblib


# Python cache
__pycache__/
*.pyc

# Virtual environments
/venv/
/.venv/
/env/
/.env

# IDE and editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
*.o
*.out
*.exe

# Log files
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/